<!-- section education -->
<section id="educ">
    <div class="container">
        <!-- section title -->
        <h2 class="section-title wow fadeInUp">👩‍🎓 Education & Certificates</h2>

        <div class="spacer" data-height="60"></div>
        
        <div class="row">

            <div class="col-md-6">
                
                <!-- timeline wrapper -->
                <div class="timeline edu bg-dark rounded shadow-dark padding-30 overflow-hidden">

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">2004 - 2006</span>
                            <h3 class="title">Kindergarten</h3>
                            <h4>Holy Name University</h4>
                        </div>
                    </div>

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
                        <div class="content">
                            <span class="time">2006 - 2012</span>
                            <h3 class="title">Primary</h3>
                            <h4>Holy Name University</h4>
                        </div>
                    </div>

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
                        <div class="content">
                            <span class="time">2012 - 2016</span>
                            <h3 class="title">Junior Highschool</h3>
                            <h4>Holy Name University</h4>
                        </div>
                    </div>

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
                        <div class="content">
                            <span class="time">2016 - 2018</span>
                            <h3 class="title">Senior Highschool - (STEM)</h3>
                            <h4>Holy Name University</h4>
                        </div>
                    </div>

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
                        <div class="content">
                            <span class="time">2018 - Present</span>
                            <h3 class="title">Undergraduate</h3>
                            <h4>Bohol Island State University</h4>
                        </div>
                    </div>
                    <!-- main line -->
                    <span class="line"></span>

                </div>

            </div>

            <div class="col-md-6">
                
                <!-- responsive spacer -->
                <div class="spacer d-md-none d-lg-none" data-height="30"></div>

                <!-- timeline wrapper -->
                <div class="timeline exp bg-dark rounded shadow-dark padding-30 overflow-hidden">

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">October 17, 2019</span>
                            <h3 class="title">Python 3 Tutorial</h3>
                            <h4>Python Core Certificate - Solo Learn</h4>
                            <a href="https://www.sololearn.com/Certificate/1073-15887766/pdf/" class="btn btn-default" target= _blank >View Certificate</a>
                        </div>
                    </div>

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">November 21, 2019</span>
                            <h3 class="title">HTML Fundamentals</h3>
                            <h4>HTML course - Solo Learn</h4>
                            <a href="https://www.sololearn.com/Certificate/1014-15887766/pdf/" class="btn btn-default" target= _blank >View Certificate</a>
                        </div>
                    </div>
                    
                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">November 21, 2019</span>
                            <h3 class="title">CSS Fundamentals</h3>
                            <h4>CSS course - Solo Learn</h4>
                            <a href="https://www.sololearn.com/Certificate/1023-15887766/pdf/" class="btn btn-default" target= _blank >View Certificate</a>
                        </div>
                    </div>

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">April 07, 2021</span>
                            <h3 class="title">C++</h3>
                            <h4>C++ Certificate - Solo Learn</h4>
                            <a href="https://www.sololearn.com/Certificate/1051-15887766/pdf/?fbclid=IwAR1rFN-A4GJx1w32H2X5FshiBzcJGDM5zmhpQUUqiKAJ4xxj3iX8lJnoKWA" class="btn btn-default" target= _blank >View Certificate</a>
                        </div>
                    </div>

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">April 16, 2021</span>
                            <h3 class="title">Python Basics</h3>
                            <h4>Python Basics - Coursera</h4>
                            <a href="https://www.coursera.org/account/accomplishments/verify/55XP4BACNDLM?utm_source=ios&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course&fbclid=IwAR3RqFUzMc7MCMa5HqblVqIfiXTqv_4pBJr1xKOoFphzUXWtNt9RLuTfhYI" class="btn btn-default" target= _blank >View Certificate</a>
                        </div>
                    </div>

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">August 6, 2021 </span>
                            <h3 class="title">Python Essentials</h3>
                            <h4>Python Essentials Certificate - DICT 10-day Training</h4>
                            <a class="btn btn-default" >Pending certificate</a>
                        </div>
                    </div>


                    <!-- main line -->
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section education -->
