<section id="hobbies">

		<div class="container">
			<!-- section title -->
			<h2 class="section-title wow fadeInUp">😎 Interests & Hobbies</h2>
			<div class="spacer" data-height="60"></div>
			<div class="row">

				<div class="col-md-4">
					<!-- hobby box -->
					<div class="hobby-box rounded data-background padding-30 text-center text-light shadow-blue" data-color="#6C6CE5">
						<img src="./assets/images/6.svg" alt="UI/UX design" />
						<h3 class="mb-3 mt-0">Indoor Activities</h3>
						<ul style="text-align:left; color:antiquewhite;">
							<li class="list-inline-item"><span class="icon icon-star"></span> Design</li><br>
							<li class="list-inline-item"><span class="icon icon-pencil"></span> Drawing</li><br>
							<li class="list-inline-item"><span class="icon icon-earphones"></span> Listening to Music</li><br>
							<li class="list-inline-item"><span class="icon icon-camrecorder"></span> Video Editing</li><br>
							<li class="list-inline-item"><span class="icon icon-trophy"></span> Board Games</li><br>
							<li class="list-inline-item"><span class="icon icon-book-open"></span> Reading</li><br>
							<li class="list-inline-item"><span class="icon icon-film"></span> Watching Movies/Series</li><br>
						</ul>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				</div>

				<div class="col-md-4">
					<!-- hobby box -->
					<div class="hobby-box rounded data-background padding-30 text-center text-light shadow-pink" data-color="#F97B8B">
						<img src="./assets/images/7.svg" alt="UI/UX design" />
						<h3 class="mb-3 mt-0">Outdoor Activities</h3>
						<ul style="text-align:left; color:antiquewhite;">
							<li class="list-inline-item"><span class="icon icon-camera"></span> Photography</li><br>
							<li class="list-inline-item"><span class="icon icon-plane"></span> Travel</li><br>
							<li class="list-inline-item"><span class="icon icon-map"></span> Discovering new places</li><br>
							<li class="list-inline-item"><span class="icon icon-speedometer"></span> Roadtrips</li><br>
							<li class="list-inline-item"><span class="icon icon-energy"></span> Badminton</li><br><br><br>
						</ul>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				</div>

				<div class="col-md-4">
					<!-- hobby box -->
					<div class="hobby-box rounded data-background padding-30 text-center text-light shadow-blue" data-color="#6C6CE5">
						<img src="./assets/images/8.svg" alt="UI/UX design" />
						<h3 class="mb-3 mt-0">Other Interests</h3>
						<ul style="text-align:left; color:antiquewhite;">
							<li class="list-inline-item"><span class="icon icon-heart"></span> Anime & Mangas</li><br>
							<li class="list-inline-item"><span class="icon icon-heart"></span> Yaoi</li><br><br><br><br><br><br>
						</ul>
					</div>
				</div>
			</div>
			<div class="mt-5 text-center">
				<p class="mb-0">Got the same hobbies & interest? <a href="#contact">Click here</a> and let's talk! 👋</p>
			</div>
		</div>
	</section>
    <!-- section hobbies & interests -->
