<!-- section about -->
<section id="about">
    <div class="container">
        <!-- section title -->
        <h2 class="section-title wow fadeInUp"><i class="fas fa-address-card"></i> About Me</h2>
        <div class="spacer" data-height="60"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="text-center text-md-left">
                    <!-- avatar image -->
                    <img src="./assets/images/4.svg" alt="Aileen" width=170px/>
                </div>
                <div class="spacer d-md-none d-lg-none" data-height="30"></div>
            </div>

            <div class="col-md-9 triangle-left-md triangle-top-sm">
                <div class="rounded bg-dark shadow-dark padding-30">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- about text -->
                            <p>
                                Hello My name is Aileen Tandoc! I am a BS Computer engineering student with a passion for innovation, love for coding, and a desire to create a better world. 
                                <br><br>
                                <span style="font-weight: bold;">Strong Points:</span><br>
                                <i class="far fa-star" style="color:#FF4C60"></i> Hardworking, punctual, detail-oriented and diligent<br>
                                <i class="far fa-star" style="color:#FF4C60"></i> Determined to meet strict deadlines and accomplish goals of the project.<br>
                                <i class="far fa-star" style="color:#FF4C60"></i> Strong analytical and organizational skills within the programming industry.<br>
                                <br>
                                <a href="./assets/Aileen Tandoc - Resume.pdf" download="Aileen T.'s Resume.pdf" class="btn btn-default">Download my Resume</a>
                                <br><br><br>
                             </p>   
                                <p style="text-align:right">
                                    <img src="./assets/images/5.svg" width=130px>
                                </p>
                            
                            <div class="spacer d-md-none d-lg-none" data-height="30"></div>
                        </div>
                        <div class="col-md-6">
                            <h4>Programming Languages</h4>
                            <!-- skill item -->
                            <div class="skill-item">
                                <div class="skill-info clearfix">
                                    <h4 class="float-left mb-3 mt-0">C</h4>
                                    <span class="float-right">Advanced</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75" data-color="#6C6CE5">
                                    </div>
                                </div>
                                <div class="spacer" data-height="20"></div>
                            </div>

                            <!-- skill item -->
                            <div class="skill-item">
                                <div class="skill-info clearfix">
                                    <h4 class="float-left mb-3 mt-0">C++</h4>
                                    <span class="float-right">Advanced</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75" data-color="#FFD15C">
                                    </div>
                                </div>
                                <div class="spacer" data-height="20"></div>
                            </div>

                            <!-- skill item -->
                            <div class="skill-item">
                                <div class="skill-info clearfix">
                                    <h4 class="float-left mb-3 mt-0">Python</h4>
                                    <span class="float-right">Advanced</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75" data-color="#FF4C60">
                                    </div>
                                </div>
                                <div class="spacer" data-height="20"></div>
                            </div>

                            <div class="skill-item">
                                <div class="skill-info clearfix">
                                    <h4 class="float-left mb-3 mt-0">Java</h4>
                                    <span class="float-right">Novice</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25" data-color="#6C6CE5">
                                    </div>
                                </div>
                                <div class="spacer" data-height="40"></div>
                            </div>

                            <h4>Frameworks</h4>
                            <!-- skill item -->
                            <div class="skill-item">
                                <div class="skill-info clearfix">
                                    <h4 class="float-left mb-3 mt-0">Angular</h4>
                                    <span class="float-right">Novice</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25" data-color="#6C6CE5">
                                    </div>
                                </div>
                                <div class="spacer" data-height="20"></div>
                            </div>
                            <!-- skill item -->
                            <div class="skill-item">
                                <div class="skill-info clearfix">
                                    <h4 class="float-left mb-3 mt-0">CSS & HTML</h4>
                                    <span class="float-right">Intermediate</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50" data-color="#FFD15C">
                                    </div>
                                </div>
                                <div class="spacer" data-height="20"></div>
                            </div>

                            <!-- skill item -->
                            <div class="skill-item">
                                <div class="skill-info clearfix">
                                    <h4 class="float-left mb-3 mt-0">Javascript & Typescript</h4>
                                    <span class="float-right">Novice</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25" data-color="#FF4C60">
                                    </div>
                                </div>
                                <div class="spacer" data-height="40"></div>
                            </div>

                            <h4>Others</h4>
                            <!-- skill item -->
                            <div class="skill-item">
                                <div class="skill-info clearfix">
                                    <h4 class="float-left mb-3 mt-0">Cloud Computing</h4>
                                    <span class="float-right">Novice</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25" data-color="#6C6CE5">
                                    </div>
                                </div>
                                <div class="spacer" data-height="20"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->
        <div class="spacer" data-height="70"></div>
			
			<div class="row">
				
				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item">
						<span class="icon icon-fire"></span>
						<div class="details">
							<h3 class="mb-0 mt-0 number"><em class="count">1</em></h3>
							<p class="mb-0">Project(s) completed</p>
						</div>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				</div>

				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item">
						<span class="icon icon-cup"></span>
						<div class="details">
							<h3 class="mb-0 mt-0 number"><em class="count">5670</em></h3>
							<p class="mb-0">Cups of coffee (and counting)</p>
						</div>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				</div>

				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item">
						<span class="icon icon-people"></span>
						<div class="details">
							<h3 class="mb-0 mt-0 number"><em class="count">427</em></h3>
							<p class="mb-0">Mental Breakdowns</p>
						</div>
					</div>
					<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				</div>

				<div class="col-md-3 col-sm-6">
					<!-- fact item -->
					<div class="fact-item">
						<span class="icon icon-badge"></span>
						<div class="details">
							<h3 class="mb-0 mt-0 number"><em class="count">4</em></h3>
							<p class="mb-0">years in college</p>
						</div>
					</div>
				</div>

			</div>
        
    </div>
</section>
<!-- section about -->
