 <!-- section works -->
 <section id="works">

    <div class="container wow fadeInUp">
        
        <!-- section title -->
        <h2 class="section-title wow fadeInUp"><i class="fas fa-folder-open"></i> My Portfolio</h2>

        <div class="spacer" data-height="60"></div>

        <!-- portfolio filter (desktop) -->
        <ul class="portfolio-filter list-inline wow fadeInUp">
            <li class="current list-inline-item" data-filter="*">Everything</li>
            <li class="list-inline-item" data-filter=".application">Application</li>
            <li class="list-inline-item" data-filter=".video">Video</li>
            <li class="list-inline-item" data-filter=".design">Logo Design</li>
            <li class="list-inline-item" data-filter=".photography">Photography</li>
        </ul>
        
        <!-- portfolio filter (mobile) -->
        <div class="pf-filter-wrapper">
            <select class="portfolio-filter-mobile">
                <option value="*">Everything</option>
                <option value=".application">Application</option>
                <option value=".video">Video</option>
                <option value=".design">Logo Design</option>
                <option value=".photography">Photography</option>
            </select>
        </div>
        
        <!-- portolio wrapper -->
        <div class="row portfolio-wrapper">
            
            <!-- portfolio item-Photo-->
            <div class="col-md-4 col-sm-6 grid-item photography">
                <a href="./assets/images/works/photo-1.jpg" class="work-image">
                    <div class="portfolio-item rounded shadow-dark">
                        <div class="details">
                            <span class="term">Photography</span>
                            <h4 class="title">Cleo 2017</h4>
                            <span class="more-button"><i class="icon-magnifier-add"></i></span>
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/works/photo-1.jpg" alt="Portfolio-title" />
                            <div class="mask"></div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- portfolio item-Application-->
            <div class="col-md-4 col-sm-6 grid-item application">
                <a href="#small-dialog" class="work-content">
                    <div class="portfolio-item rounded shadow-dark">
                        <div class="details">
                            <span class="term">Application</span>
                            <h4 class="title">GOVERNMENT 3-IN-1 TEST REVIEWER MOBILE APP + PHP WEB-BASED ADMIN PANEL</h4>
                            <span class="more-button"><i class="icon-options"></i></span>
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/works/app.svg" alt="Portfolio-title" />
                            <div class="mask"></div>
                        </div>
                    </div>
                </a>
                <div id="small-dialog" class="white-popup zoom-anim-dialog mfp-hide">
                    <img src="./assets/images/works/app.svg" alt="Title" />
                    <h2>GOVERNMENT 3-IN-1 TEST REVIEWER MOBILE APP + PHP WEB-BASED ADMIN PANEL</h2>
                    <h4>Mobile App (Users)</h4>
                    <p>Government 3-in-1 Test Reviewer App is made for Civil Service, LTO Driver’s License and College Entrance Exam test takers.</p>
                    <p>Add a little spice in your studies; With this proposed app, reviewing for upcoming
                        government tests will never be boring! Users are rewarded with coins each time they
                        complete a test or daily quiz. These coins can be used to buy lifelines in-case the
                        questions get too tough to answer.</p>
                        <br>
                    <h4>PHP Web based Admin Panel (Administrator)</h4>
                    <p>The admin panel will serve as the backend and storage for all questions and answers that
                        are used in the mobile app. The data (user info, questions, answers, notifications etc.) is
                        stored in mysql and these can be manipulated/viewed by admin via admin panel which is
                        hosted for free on 000webhost.com.
                    </p>
                    <a href="https://drive.google.com/file/d/1GgF9-Vs3jG_0Eqcoq-WPyX9u4-usPD4K/view?usp=sharing" class="btn btn-default">View the full Documentation</a>
                    <a href="https://docs.google.com/document/d/1eNk_UflF74AERASnMPidmC_6DxJqwGXof6VUneYB8EY/edit?usp=sharing" class="btn btn-default">Live Demo</a>
                </div>
            </div>

            <!-- portfolio item-Video -->
            <div class="col-md-4 col-sm-6 grid-item video">
                <a href="https://vimeo.com/454748125" class="work-video">
                    <div class="portfolio-item rounded shadow-dark">
                        <div class="details">
                            <span class="term">Video</span>
                            <h4 class="title">#Bohol</h4>
                            <span class="more-button"><i class="icon-camrecorder"></i></span>
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/works/3.svg" alt="Portfolio-title" />
                            <div class="mask"></div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- portfolio item-Photo-->
            <div class="col-md-4 col-sm-6 grid-item photography">
                <a href="./assets/images/works/photo-2.jpg" class="work-image">
                    <div class="portfolio-item rounded shadow-dark">
                        <div class="details">
                            <span class="term">Photography</span>
                            <h4 class="title">#HNU</h4>
                            <span class="more-button"><i class="icon-magnifier-add"></i></span>
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/works/photo-2.jpg" alt="Portfolio-title" />
                            <div class="mask"></div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- portfolio item-Logo Design-->
            <div class="col-md-4 col-sm-6 grid-item design">
                <a href="#gallery-1" class="gallery-link">
                    <div class="portfolio-item rounded shadow-dark">
                        <div class="details">
                            <span class="term">Logo Design</span>
                            <h4 class="title">Proposed Logo Design for the Application:<br>GOVERNMENT 3-IN-1 TEST REVIEWER MOBILE APP + PHP WEB-BASED ADMIN PANEL</h4>
                            <span class="more-button"><i class="icon-picture"></i></span>
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/works/logo-1.svg" alt="Portfolio-title" />
                            <div class="mask"></div>
                        </div>
                    </div>
                </a>
                <div id="gallery-1" class="gallery mfp-hide">
                    <a href="./assets/images/works/logo-1.svg"></a>
                    <a href="./assets/images/works/logo-2.svg"></a>
                    <a href="./assets/images/works/logo-3.svg"></a>
                </div>
            </div>

            <!-- portfolio item-Photo-->
            <div class="col-md-4 col-sm-6 grid-item photography">
                <a href="./assets/images/works/photo-3.jpg" class="work-image">
                    <div class="portfolio-item rounded shadow-dark">
                        <div class="details">
                            <span class="term">Photography</span>
                            <h4 class="title">BUJOY</h4>
                            <span class="more-button"><i class="icon-magnifier-add"></i></span>
                        </div>
                        <div class="thumb">
                            <img src="./assets/images/works/photo-3.jpg" alt="Portfolio-title" />
                            <div class="mask"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- section works -->
