<!-- Preloader Start -->
<div id="preloader">
	<div class="outer">
		<!-- Google Chrome -->
		<div class="infinityChrome">
			<div></div>
			<div></div>
			<div></div>
		</div>

		<!-- Safari and others -->
		<div class="infinity">
			<div>
				<span></span>
			</div>
			<div>
				<span></span>
			</div>
			<div>
				<span></span>
			</div>
		</div>
		<!-- Stuff -->
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo-outer">
			<defs>
				<filter id="goo">
					<feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
					<feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
					<feBlend in="SourceGraphic" in2="goo" />
				</filter>
			</defs>
		</svg>
	</div>
</div>
<!-- Preloader End -->

<!-- Mobile Header Start -->
<header class="mobile-header-2">
	<div class="container">
		<!-- menu icon -->
		<div class="menu-icon d-inline-flex mr-4">
			<button>
				<span></span>
			</button>
		</div>
		<!-- logo image -->
		<div class="site-logo">
			<a href="#home">
				<img src="./assets/images/3.svg" alt="Aileen." />
			</a>
		</div>
	</div>
</header>
<!-- Mobile Header End -->

<!-- Desktop Header Start -->
<header class="desktop-header-2 d-flex align-items-start flex-column">
	
	<!-- logo image -->
	<div class="site-logo">
		<a href="#home">
			<img src="./assets/images/3.svg" alt="Aileen." />
		</a>
	</div>
    <!-- logo image -->
	
	<!-- main menu -->
	<nav>
		<ul class="vertical-menu scrollspy">
			<li class="active"><a href="#home" title="Home"><i class="icon-home"></i></a></li>
			<li><a href="#about" title="About"><i class="icon-user-female"></i></a></li>
			<li><a href="#hobbies" title="Hobbies"><i class="icon-star"></i></a></li>
			<li><a href="#educ" title="Education"><i class="icon-graduation"></i></a></li>
			<li><a href="#works" title="Portfolio"><i class="icon-folder-alt"></i></a></li>
			<li><a href="#contact" title="Contact"><i class="icon-envelope-open"></i></a></li>
		</ul>
	</nav>
    <!-- main menu -->
	
	<!-- site footer -->
	<div class="footer">
		<!-- copyright text -->
		<span class="copyright">© 2021 Aileen T.</span>
	</div>
    <!-- site footer -->
</header>
<!-- Desktop Header End -->