/*=================================================================*/
/*                      PARALLAX SHAPES                              
/*=================================================================*/
.parallax {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .parallax .layer {
    position: absolute;
  }
  .parallax .p1 {
    left: 10%;
    top: 10%;
  }
  .parallax .p2 {
    left: 25%;
    top: 30%;
  }
  .parallax .p3 {
    left: 15%;
    bottom: 30%;
  }
  .parallax .p4 {
    left: 10%;
    bottom: 10%;
  }
  .parallax .p5 {
    left: 45%;
    top: 10%;
  }
  .parallax .p6 {
    left: 40%;
    bottom: 10%;
  }
  .parallax .p7 {
    top: 20%;
    right: 30%;
  }
  .parallax .p8 {
    right: 30%;
    bottom: 20%;
  }
  .parallax .p9 {
    right: 10%;
    top: 10%;
  }
  .parallax .p10 {
    top: 45%;
    right: 20%;
  }
  .parallax .p11 {
    bottom: 10%;
    right: 10%;
  }